input, textarea {
    font: var(--font-body-md);
    color: var(--text-heading);
}

input[type="text"], input[type="datetime-local"], input[type="email"], textarea {
    appearance: none;
    width: 100%;
    padding: .8125rem 1rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    
    &::placeholder {
        color: var(--input-placeholder);
    }
}

label {
    font: var(--font-body-sm);
    display: block;
}

.input-wrapper > label {
    padding-block: 1rem .75rem;
}

.selector {
    position: relative;

    & input {
        all: unset;
        position: absolute;
        inset: 0;
    }
}