input, textarea, button {
    font: var(--font-body-md);
    color: var(--text-heading);

    &:focus {
        outline: 2px solid var(--brand-light);
    }
}

input[type="text"], input[type="datetime-local"], input[type="email"], textarea {
    appearance: none;
    width: 100%;
    padding: .8125rem 1rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    
    &::placeholder {
        color: var(--input-placeholder);
    }
}

input[type="datetime-local"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::before{
        content: "";
        position: absolute;
        background: url(../../assets/icons/calendar.svg) center/contain;
        right: 1rem;
        width: 1rem;
        height: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

label {
    font: var(--font-body-sm);
    display: block;
}

.input-wrapper > label {
    padding-block: 1rem .75rem;
}

.selector {
    position: relative;

    & input {
        all: unset;
        position: absolute;
        inset: 0;
    }
}

input[type="text"] {
    & ~ .error {
        margin-top: .5rem;
        display: flex;
        gap: .5rem;
        font: var(--font-body-xs);
        color: var(--danger);
    }

    &:invalid:not(:focus) {
        outline: 2px solid var(--danger);
    }

    &:valid ~ .error {
        display: none;
    }
}