fieldset {
    border: none;
}

legend {
    font: var(--font-heading-sm);
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: .5rem;
}

:focus {
    outline: 2px solid var(--brand-light);
}