#signature {
    margin-top: 4rem;
    text-align: center;
    
    span {
        font: .875rem "Roboto Mono", monospace;
        background-color: var(--input-stroke);
        color: var(--text-heading);
        display: inline-block;
        padding: .1875rem .4375rem .3125rem;
        margin-inline: auto;
        border-radius: .3125rem;
    }
}